altgraph==0.17.5
charset-normalizer==3.4.4
greenlet==3.3.1
numpy==2.4.2
packaging==26.0
pandas==3.0.0
pillow==12.1.0
playwright==1.58.0
pyee==13.0.0
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2026.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.18
PyQt5_sip==12.18.0
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.18
python-dateutil==2.9.0.post0
reportlab==4.4.9
six==1.17.0
typing_extensions==4.15.0
